<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    
</head>

<body>
    {{>navbar}}
    
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/logo.png" alt="rahul" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To About Page</p>
                        <h1>Iam a <Span class="txt_c">Mern Stack Developer</Span> And A Freelancer </h1>
                        <a href="https://www.brainyquote.com/topics/good-guy-quotes"><button>About Me</button></a>
                    </div>
                        
                    </div>


                </div>
            </div>

        </div>
    </div>
    {{>footer}}
        
        
        





</body>

</html>